<ion-content [fullscreen]="true">
  <ion-progress-bar type="indeterminate" *ngIf="isUploading"></ion-progress-bar>

  <div class="add-button">
    <ion-item>
      <ion-button
        color="primary"
        (click)="inputFile.click()"
        [disabled]="isUploading"
      >
        <ion-icon name="attach"></ion-icon> Upload image
      </ion-button>
      <input
        #inputFile
        id="input-file"
        style="opacity: 0"
        type="file"
        (change)="fileUpload($event.target.files)"
        multiple
      />
    </ion-item>
  </div>
  <div class="container" *ngIf="imageUrls$ | async as imageUrls">
    <img *ngFor="let image of imageUrls" class="image" [src]="image" alt="" />
  </div>
</ion-content>
